@import "../../style/main.scss";

.favourite-page {
    width: 100%;

    .card {
        height: 80px;
        margin: 16px;
        direction: ltr;
        &:last-of-type {
            margin-bottom: 70px;
        }

        .weather-icon {
            display: contents;

            svg {
                width: 65px;
                height: 80px;
            }
        }

        .city-title {
            font-size: 19px;
            font-weight: bold;
        }

        .temp {
            font-size: 20px;
        }

        .weather {

            .icon-up,
            .icon-down {
                float: right;
                font-size: 18px;
            }

            .min-temp,
            .max-temp {
                font-size: 18px;
            }
        }
    }

    .no-item {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }
}