@import "../../style//main.scss";

.card {
    box-shadow: $box-shadow;
    border-radius: 12px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: $white;
    padding: 0 15px;

    .city-title {
        width: 35%;
        text-align: center;
    }
    .temp {
        width: 10%;
    }
    .weather {
        width: 15%;

    }
}