@import "../../style/main.scss";

.home-page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $primary-blue;

    .weather-icon-wrapper {
        position: absolute;
        top: 30px;
        left: 30px;

        svg {
            width: 110px;
            height: 110px;
        }
    }

    .info {
        text-align: center;
        font-family: IranSans, serif;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 44%;
        bottom: 0;
        padding-top: 55px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: url("../../style/images/wave.svg");
        background-repeat: no-repeat;
        background-size: cover;

        .city-name {
            color: $secondary-blue;
            font-size: 38px;
            font-weight: 600;
        }

        .date {
            font-size: 17px;
            margin-top: 5px;
            font-weight: 600;

            .day,
            .month {
                padding: 0 10px;
            }

            .day {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 1px;
                    height: 16px;
                    background-color: $border-color;
                }
            }
            .carousel {
                margin-top: 15px;
            }
        }

        .weather {
            font-size: 17px;
            font-weight: 600;

            .icon-up,
            .icon-down {
                text-align: left;
                font-size: 20px;
                position: relative;
            }
        }
    }
}