@import "../../style/main.scss";

.home-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $primary-blue;

    .wave {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .weather-icon-wrapper {
        position: absolute;
        top: 30px;
        left:30px;
        svg {
            width: 90px;
            height: 90px;
        }
    }

    .info {
        text-align: center;
        font-family: IranSans, serif;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 28%;

        .city-name {
            color: $secondary-blue;
            font-size: 38px;
            font-weight: 600;
        }

        .date {
            font-size: 17px;
            margin-top: 5px;
            font-weight: 600;

            .day,
            .month {
                padding: 0 10px;
            }

            .day {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 1px;
                    height: 16px;
                    background-color: $border-color;
                }
            }
        }

        .weather {
            font-size: 17px;
            font-weight: 600;

            .icon-up,
            .icon-down {
                text-align: left;
                font-size: 14px;
                position: relative;
            }
        }
    }
}