@font-face {
    font-family: 'IranSans';
    src: url('./fonts/iransans/IRANSansWeb.eot');
    src: url('./fonts/iransans/IRANSansWeb.eot') format('embedded-opentype'),
         url('./fonts/iransans/IRANSansWeb.woff') format('woff'),
         url('./fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }