//COLORS

$primary-blue: #DCECF4;
$white: #FCFCFC;
$border-color: #777777;
$first-text-color: black;
$secondary-blue: #4B6584;
$fill-star: #fed330;
$gray: #e8e5e5;
$dark-gray: #c9c9c9;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);

//FONTS