@import "../../style/main.scss";

.carousel {
    color: $secondary-blue;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    direction: ltr;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
        width:  0 !important;
      }
    
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    
      &::-webkit-scrollbar-track {
        background: transparent;
      }

    .item {
        position: relative;
        margin: 0 15px;
        height: 105px;
        
        &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            border: 1px solid $secondary-blue;
            right: 0px;
            top: 4px;
        }

        &:last-child {
            border-right: 15px solid transparent;
        }

        .temp {
            font-size: 22px;
        }

        .weather-icon {
            width: 35px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .hour {
            font-size: 15px;
            color: $dark-gray;
        }
    }

}