@import "../../style/main.scss";

.carousel {
    z-index: 2;
    position: relative;
    text-align: center;
    top: 55px;
    font-size: 55px;
    color: $secondary-blue;
    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $secondary-blue;
    }
}