@import "../../style/main.scss";

.search-page {
    width: 100%;

    .search-bar {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 30px 16px;
        background-color: $primary-blue;
        z-index: 1;

        input {
            width: calc(100% - 35px);
            height: 48px;
            box-shadow: $box-shadow;
            border: none;
            border-radius: 12px;
            padding: 4px 16px;
            font-size: 15px;
            border: 1px solid $gray;
        }
    }

    .button {
        border-radius: 12px 0 0 12px;
        position: absolute;
        left: 16px;
        background-color: $gray;
        width: 45px;
        height: 48px;

        svg {
            width: 40px;
            height: 100%;
        }
    }

    .result-wrapper {
        margin-top: 120px;
        margin-bottom: 70px;
    }

}