@import "../../style/main.scss";

.search-page {
    width: 100%;
    height: 100vh;
    background-color: $primary-blue;
    position: absolute;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .search-bar {
        text-align: center;
        position: fixed;
        width: 100%;
        font-family: IranSans;
        padding: 30px 0;
        background-color: $primary-blue;
        z-index: 1;

        input {
            width: 80%;
            height: 40px;
            box-shadow: $box-shadow;
            border: none;
            border-radius: 12px;
            outline: none;
            direction: rtl;
            font-family: IranSans;
            padding: 4px 16px;
            font-size: 15px;
            border: 1px solid $gray;
        }
    }

    .button {
        display: inline-block;
        border-radius: 12px 0 0 12px;
        position: absolute;
        left: 20px;
        background-color: $gray;
        width: 45px;
        height: 49px;
        padding: 0;
        outline: none;
        border-style: none;

        svg {
            width: 40px;
            height: 100%;
        }
    }

    .result-wrapper {
        margin-top: 110px;
        margin-bottom: 75px;
    }

}