@import "../../style/main.scss";

.search-page {
    width: 100%;
    height: 100vh;
    background-color: $primary-blue;
    position: absolute;

    .search-bar {
        text-align: center;
        position: relative;
        font-family: IranSans;
        margin: 30px 0;

        input {
            width: 80%;
            height: 40px;
            box-shadow: $box-shadow;
            border: none;
            border-radius: 12px;
            outline: none;
            direction: rtl;
            font-family: IranSans;
            padding: 4px 16px;
            font-size: 15px;
            border: 1px solid $gray;
        }
    }

    .button {
        display: inline-block;
        border-radius: 12px 0 0 12px;
        position: absolute;
        left: 20px;
        top: 1px;
        background-color: $gray;
        width: 45px;
        height: 48px;
        padding: 0;
        border: 2px solid white;

        svg {
            width: 40px;
            height: 100%;
        }
    }
    .result-wrapper {
        
        .result {
            width: 63%;
            margin: 0 auto;
            direction: rtl;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: 14px;
            border-bottom: 1px solid $border-color;
            .city {
                display: block;
                margin: 0;
            }
            .county, .province{
                margin-left: 4px
            }
            .city, .county, .province {
                line-height: 30px;
            }
        }
    }
    
}