@import "../../style/main.scss";

.result {
    width: 63%;
    margin: 0 auto;
    direction: rtl;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 13px;
    height: 70px;
    background: $white;
    box-shadow: $box-shadow;
    margin-bottom: 12px;
    border-radius: 12px;

    .city {
        display: block;
        margin: 0;
        font-size: 17px;
        font-weight: bold;
    }

    .county,
    .province {
        margin-left: 4px
    }

    .city,
    .county,
    .province {
        line-height: 30px;
    }
}